.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
    padding: 20px 10px;
    max-height: 120px;
}

.container div{
    display: flex;
}

.container .main {
    flex-grow: 100;
}

.container .left, .container .right {
    flex-grow: 1;
}

.container .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .right {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.container .main {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.container .main .username {
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    font-size: 28px;
}

.container .main .userinfo {
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.container .main .userinfo .verify {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.container .main .userinfo .verify > span {
    margin-left: 20px;
}

.container .main .userinfo .introduction {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.container .right {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.container .right > button {
    margin-right: 20px;
}
