.user-card .card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.user-card{
    min-width: 270px;
}

.user-card .card-top .top-left{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-ava{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-username{
    font-size: 24px;
    font-weight: bolder;
    padding: 0 20px;
}

.card-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.card-bottom > .bottom-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.bottom-item:nth-child(2){
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}