div.NavLogged{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.NavLogged .head-avatar{
    width: 36px;
    height: 36px;
}

div.NavLogged .head-avatar img{
    width: 100%;
    height: 100%;
}