div.ClassificationColumn .list-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 15px 25px;
    transition: .4s all ease-in-out;
}

div.ClassificationColumn .list-item:hover {
    background-color: rgba(217, 0, 27, .1);
    cursor: pointer;
    padding: 15px 35px;
    color: #d9001b;
    font-weight: bold;
}