.HomePage{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

div.HomePage div.HomePageLeft{
    width: 250px;
}

div.HomePage div.HomePageRight{
    width: 250px;
}

div.HomePage div.HomePageCenter{
    background-color: #fff;
    margin: 0 20px;
}