div.Footer {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-top: 1px solid #e9e9e9;
    padding: 20px;
    height: 100px;
    background-color: #fff;
}

div.Footer a, div.Footer span{
    color: #555;
}

div.Footer .top {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

div.Footer a.body img {
    max-height: 50px;
}