html, body{
  background-color: #F0F2F5;
}

body {
  margin: 0;
  font-family: "Microsoft YaHei";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover-pointer:hover{
  cursor: pointer;
}

button{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

button:hover{
  cursor: pointer;
}

a:hover{
  cursor: pointer;
}

.text-center {
  text-align: center;
}

