div.BlogEditor{
    width: 100%;
}

div.BlogEditor div.tool-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
}

div.BlogEditor div.editor {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 25px;
}

div.ToolBarItem, div.ToolBarItem div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color .4s ease-in-out;
}

div.ToolBarItem:hover {
    background-color: rgba(125, 125, 125, .5);
    cursor: pointer;
}

div.TreeCategory {
    width: 300px;
    height: 600px;
    outline: 1px #e9e9e9 solid;
}

div.MdEditor {
    width: 100%;
    margin-left: 50px;
    outline: 1px solid #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

div.MdEditor .markdown-input , div.MdEditor .markdown-input textarea{
    resize: none;
    width: 100%;
    height: 100%;
}

div.MdEditor .markdown-input textarea, div.MdEditor .markdown-preview {
    padding: 20px;
}

div.MdEditor .markdown-input {
    border-right: 2px solid #e9e9e9;
}

div.MdEditor .markdown-preview {
    width: 100%;
    overflow: hidden;
}

