div.ToolBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    background-color: #fff;
    margin-top: 20px;
}