.read-record{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 15px 25px;
    transition: .4s all ease-in-out;
}

.My_blog {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    flex-direction: column;
    padding-left: 3%;
    padding-top: 15px;
    line-height: 30px;
    margin: 0 20px 10px;
    background-color: #FFFFFF;
}
.My_blog:hover{
    background-color: rgb(242 242 242);
}

.My_blog a {
    font-weight: 700;
    font-size: 18px;
    color: #555555;
}

.My_blog a:hover {
    color: rgb(160 0 20);
}