.fansListNavagator {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #555555;
    margin: 20px auto;
}

.fans {
    width: 80%;
    margin: auto 10%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-top: 1px black dotted;
}

.fansAvatar {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.fansName {
    width: 80px;
    font-size: 18px;
    font-weight: 500;
    color: #555555;
    vertical-align: middle;
    display: table-cell;
}

.fansSubscribeButton {
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border:1px black dotted;
    margin-left: 40%;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255,0);
}
.fans:hover {
    background-color: rgb(245, 245, 245);
}
.fansSubscribeButton:hover{
    background-color: rgba(228, 228, 228,0.9);
}
