div div.personal-info-menu {
    width: 200px;
    height: 690px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}

div div.personal-info-menu div.personal-info-menu-item {
    height: 50px;
    flex-grow: 1;
    text-align: center;
    margin: 5px 0;
    line-height: 59px;
}

div div.personal-info-menu div.personal-info-menu-item:hover {
    background-color: rgb(242 242 242);
}

div div.personal-info-menu div.personal-info-menu-item a {
    color: #7F7F7F;
    font-size: 18px;
}